/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
  font-size: 14px;
}

body {
  font-family: 'ralewaylight';
  color: #2d2d2d;
}

a:hover {
  color: #b64036;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'playfair_displayregular';
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 4rem;
}

p {
  font-family: 'ralewaylight';
  margin: 2rem 2rem;
}

h3 {
  font-family: 'playfair_displaybold';
}

h3 .italics {
  font-family: 'playfair_displayitalic'; 
}

a {
  color: #e2574c;
  text-decoration: none;
}

section {
  margin: 20px 10px;
  text-align: center;
}

header{
  margin: 0 auto;
  font-size: 2.3rem;
  /*display: block;*/
}

header nav a:hover {
  text-decoration: underline;
}

header nav a img {
  height: 7.63rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  /*position: relative;*/
  /*top: 30px;*/
  /*left: 325px;*/
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}


.logo a {
  margin-left: 25px;
}

.cart{
  margin-right: 25px;
}

footer {
  color: white;
  background-color: #242424;

}

footer section {
  text-align: center;
}

footer section p {
  text-align: center;
}

footer section a {
  text-decoration: underline;
  color: white;
}

footer aside {
  text-align: center;
}

footer aside li a {
  font-family: 'ralewaylight';
}


footer aside ul li {
  display: none;
  font-size: 2rem;
}

.footer-icon {
  display: inline-block;
}

footer aside ul li a {
  text-decoration: none;
  color: white;
}

footer aside ul li a:hover {
  text-decoration: underline;
}

.masthead {
  background:  url("../images/banner-girl.png") no-repeat,
   url("../images/flower-bkgd.jpg") no-repeat;
  background-position: top center, center;
  background-size: 20%, cover;
  height: 500px;
  margin: 0 auto;
  padding: 0px 0px;
  color: white;
  position: relative;
}

.container {
  width: 100%;
  position: relative
}


.overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    position: absolute;
    right:0;
    top:0;
    z-index: 1;
}

.masthead h4{
  position: relative;
  top: 175px;
  font-family: 'ralewaylight';
  z-index: 2;
}

.masthead h2{
  position: relative;
  top: 150px;
  font-family: 'playfair_displayregular';
  z-index: 2;
}

section.sign-up {
  color: white;
  height: 25rem;
  background: url("../images/wave-bkgd.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.product-links ul {
  display: flex;
  flex-wrap: wrap;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
}

.product-links a {
  color: white;
}

.product-links li {
  font-family: 'ralewaymedium';
  font-size: 3rem;
}

.mens-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/mens-category.jpg") no-repeat;
  background-size: contain;
}

.mens-link, .womens-link {
  height: 29rem;
  width: 58rem;
  margin: 1rem 1rem;
}

.trends-link, .glasses-link, .sale-link, .bags-link {
  height: 29rem;
  width: 28rem;
  margin: 1rem 1rem;
}

.trends-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/trends-category.jpg") no-repeat;
  background-size: contain;
}

.glasses-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/glasses-category.jpg") no-repeat;
  background-size: contain;
}

.sale-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/sale-category.jpg") no-repeat;
  background-size: contain;
}

.bags-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bags-category.jpg") no-repeat;
  background-size: contain;
}

.womens-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/womens-category.jpg") no-repeat;
  background-size: contain;
}


.sign-up h3 {
  position: relative;
  top: 75px;
}

.sign-up p {
  position: relative;
  top: 75px;
  font-size: 2.1rem;
}

.sign-up form {
  position: relative;
  top: 75px;
  height: 50px;
}

.sign-up form input {
  height: 75%;
  width: 40%;
}

button {
  background-color: #e2574c;
  color: white;
  border-radius: 30%;
  height: 100%;
  width: 10%;
}

.product-carousel li{
  display: inline-block;
}

.greyed-out {
  color: #969696;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }


}

@media screen and (min-width: 1240px) {
  html {
    font-size: 16px;
  }
}