p {
  font-size: 20px;
  font-family: 'ralewaylight';
}

h3 {
  font-family: 'playfair_displaybold';
}

h3 .italics {
  font-family: 'playfair_displayitalic'; 
}

a {
  color: #e2574c;
  text-decoration: none;
}

section {
  margin: 20px 10px;
  text-align: center;
  font-size: 30px;
}

header{
  margin: 0 auto;
  display: block;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a img {
  height: 65px;
}

.link {
  position: relative;
  top: 30px;
  left: 325px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}


.logo {
  float: left;
  margin-left: 25px;
}

.cart{
  float: right;
  margin-right: 25px;
}

footer {
  font-size: 15px;
  color: white;
  background-color: #272828;

}

footer section {
  float: left;
}

footer section p {
  text-align: left;
  font-size: 15px;
}

footer section a {
  text-decoration: underline;
  color: white;
}

footer aside {
  float: right;
}

footer aside li a {
  font-family: 'ralewaylight';
}

.clearfix {
  clear: both;
}

footer aside{
  margin: 50px 50px;
}

footer aside ul li a {
  text-decoration: none;
  color: white;
}

footer aside ul li a:hover {
  text-decoration: underline;
  color: red;
}

.masthead {
  background:  url("../images/banner-girl.png") no-repeat,
   url("../images/flower-bkgd.jpg") no-repeat;
  background-position: top center, center;
  background-size: 20%, 80%;
  height: 500px;
  margin: 0 auto;
  padding: 0px 0px;
  color: white;
  position: relative;
}

.container {
  width: 100%;
  position: relative
}


.overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    position: absolute;
    right:0;
    top:0;
    z-index: 1;
}

.masthead h4{
  position: relative;
  top: 175px;
  font-family: 'ralewaylight';
}

.masthead h2{
  position: relative;
  top: 150px;
  font-family: 'playfair_displayregular';
}

section.sign-up {
  color: white;
  height: 300px;
  background: url("../images/wave-bkgd.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.product-links li {
  display: inline-block;
  font-family: 'ralewaymedium';
}

.sign-up h3 {
  position: relative;
  top: 75px;
}

.sign-up p {
  position: relative;
  top: 75px;
}

.sign-up form {
  position: relative;
  top: 75px;
}

.product-carousel li{
  display: inline-block;
}

.greyed-out {
  color: grey;
  font-size: 15px;
}